{% include "header.html" %}

    <div class="section" id="intro">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='images/me.png') }}" class="image-of-me" alt="An old image of me">
            </div>
            <div class="col-lg-6">
                <h1 class="intro-header">I'm Simon</h1>
                <br />
                <!-- <h4 class="intro-sub-header">About my Programming Experience</h4> -->
                <p>
                    Currently going through self-learning programming route, I 
                    have an interest in scripting, back-end web development and 
                    GUI development with Python.
                </p>
                <p>                 
                    Proceeding through the future, I hope to progress my abilities,
                    aiming to learn a few more programming languages and possibly
                    dabble in game development.
                </p>
                <br />
                <h3>The Tools I Use</h3>
                <p>
                    <img src="https://raw.githubusercontent.com/yurijserrano/Github-Profile-Readme-Logos/master/programming%20languages/python.svg" title="Python" class="tool-belt">
                    <img src="https://raw.githubusercontent.com/yurijserrano/Github-Profile-Readme-Logos/master/frameworks/flask.svg" title="Flask" class="tool-belt">
                    <img src="https://raw.githubusercontent.com/yurijserrano/Github-Profile-Readme-Logos/master/others/html.svg" title="HTML5" class="tool-belt">
                    <img src="https://raw.githubusercontent.com/yurijserrano/Github-Profile-Readme-Logos/master/others/css.svg" title="CSS" class="tool-belt">
                    <img src="https://raw.githubusercontent.com/yurijserrano/Github-Profile-Readme-Logos/master/frameworks/boostrap.svg" title="Bootstrap" class="tool-belt">
                    <img src="https://raw.githubusercontent.com/yurijserrano/Github-Profile-Readme-Logos/master/others/git.svg" title="Git" class="tool-belt">
                </p>
            </div>
        </div>
    </div>

    <div id="portfolio" class="section">
        <div class="section-container">
            <h1>Portfolio</h1>
            <hr>
            {% for project in all_projects: %}
                <div class="row">
                    <div class="col-lg-6">
                        <a href="{{ project.project_url }}" target="_blank">
                            <img class="project-img" src="{{ url_for('static', filename=project.img_name) }}" alt="Image of {{ project.project_name }}">
                        </a>
                    </div>
                    <div class="col-lg-6 mx-auto portfolio-text">
                        <h3 class="button">{{ project.project_name }}</h3>
                        <p>Made with: {{ project.made_with }}</p>
                        <p class="">{{ project.project_description|safe }}</p>
                        {% if current_user.id == 1: %}
                            <a href="{{ url_for('delete_project', project_id=project.id) }}" class="btn btn-dark">Delete Project</a>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
            {% if all_projects|length <= 3 %}
                    <div class="row">
                        <h2 class="admin-title">More to come...</h2>
                    </div>
                {% endif %}
        </div>
    </div>

    <div id="contact-me" class="section">
        <div class="container-fluid admin-title">
            
            <!-- Font Awesome icons here - Github, Twitter, LinkedIn, Email. -->
            <div class="contacts">
                <h2 class="admin-title">Contact Me</h2>
                <a href="https://www.github.com/SimonMably" target="_blank"><i class="fab fa-github fa-5x"></i></a>
                <a href="https://www.twitter.com/SimonMably" target="_blank"><i class="fab fa-twitter fa-5x"></i></a>
                <a href="https://www.linkedin.com/in/simonmably/" target="_blank"><i class="fab fa-linkedin fa-5x"></i></a>
            </div>
        </div>
        <a href="{{ url_for('homepage') }}#title" class="btn btn-dark">Back to the top.</a>
    </div>

{% include "footer.html" %}
